<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.shin.cellcap.helper</string>
	<key>AssociatedBundleIdentifiers</key>
	<string>com.shin.cellcap.app</string>
	<key>BundleProgram</key>
	<string>Contents/MacOS/CellCapHelper</string>
	<key>MachServices</key>
	<dict>
		<key>com.shin.cellcap.helper</key>
		<true/>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
</dict>
</plist>
